<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen>
  <ion-card class="container">
    <ion-card-header>
      <!-- <ion-card-subtitle></ion-card-subtitle> -->
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)"> 
        <ion-item>
          <ion-label position="floating">Login</ion-label>
          <ion-input name="login"  ngModel></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input name="senha" ngModel></ion-input>
        </ion-item>
        <ion-button shape="round" type="submit" style="width: 100%;" >Entrar</ion-button>
        <ion-button shape="round" routerLink="/criar-usuario" style="width: 100%;" >Criar Conta</ion-button>
      </form> 
    </ion-card-content>
  </ion-card>
 
</ion-content>
